<h1 class="text-teal-700 text-4xl font-bold my-2 px-2"><%= @meal.name %></h1>
<h2 class="italic text-2xl my-2 px-2"><%= @meal.category %></h2>
<div class="flex my-4 flex-col md:flex-row">
  <div class="flex-1 p-2">
    <% @meal.ingredients.each do |ingredient| %>
      <dl class="border-b border-dotted py-2 flex">
        <dt class="inline-block flex-1"><%= ingredient.ingredient %></dt>
        <dd class="inline-block"><%= ingredient.measure %></dd>
      </dl>
    <% end %>
  </div>
  <div class="flex-1 p-2">
    <%= image_tag @meal.thumbnail, class: "rounded" %>
  </div>
</div>
<div class="italic my-2 px-2">
  Instructions:
</div>
<div class="my-2 px-2">
  <%= simple_format(@meal.instructions) %>
</div>
