<nav class="bg-white flex items-center">
  <div>
    <%= link_to root_path, class: "inline-block m-2" do %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>
  <div class="flex-1 text-right">
    <% if current_user %>
      <%= link_to "Favorite meals", favorites_meals_path, class: "inline-block m-2" %>
      <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "inline-block m-2" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "inline-block m-2" %>
      <%= link_to "Sign up", new_user_registration_path, class: "inline-block m-2" %>
    <% end %>
  </div>
</nav>
