<!DOCTYPE html>
<html>
  <head>
    <title>RandomMeal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url(<%= image_url("background.jpeg") %>)" class="bg-cover">
    <%= render "layouts/header" %>
    <main class="container mx-auto flex-1 flex items-center justify-center" style="max-width: 400px">
      <div class="my-8 py-8 px-4 bg-white border rounded w-full">
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
